 <div class="container-fluid">
    <div class="jumbotron">
      <div class="row">
        <div class="col-md-2 col-xs-12 col-sm-4 ">
          <%= attachment_image_tag user, :profile_image, :fill, 300, 300, format: 'jpeg', fallback: "img/no_image.jpg", size:'100x100', class:"img-thumbnail rounded-circle" %>
        </div>
        <div class="col-md-10 col-xs-12 col-sm-8 ">
          <div class="container" style="border-bottom:1px solid black">
            <h3><i class="fas fa-user-circle"></i><%= user.name %></h3>
            <tr>
            <th>follows</th>
            <th><%= link_to user.followings.count, user_followings_path(user.id) %></th>
          </tr>
          <tr>
            <th>followers</th>
            <th><%= link_to user.followers.count, user_followers_path(user.id) %></th><br>
          </tr>
          </div>
          <tr>
            <th><h5>~紹介文~</h5></th>
            <th><%= user.introduction %></th><br>
          </tr>
          <% if current_user != user %>
            <% if current_user.following?(user) %>
              <%= link_to "フォロー外す", user_relationships_path(user.id), method: :delete,class: "btn  btn-danger" %>
            <% else %>
               <%= link_to "フォローする", user_relationships_path(user.id), method: :post,class: "btn  btn-primary" %>
            <% end %>
          <% end %>
          <% if user_signed_in? && user == current_user %>
            <%= link_to '新規釣果投稿',new_fish_path(user),class: "btn  btn-primary fas fa-fish" %>
            <%= link_to '新規アイテム投稿',new_item_path(user),class: "btn  btn-info fas fa-tools" %>
            <%= link_to 'アイテムBox',items_path(user),class: "btn  btn-success  fas fa-toolbox" %>
            <%= link_to '編集画面',edit_user_path(user),class: "btn btn-warning fas fa-user-cog edit_user_#{user.id}" %>
          <% else %>
            <%= link_to 'アイテムBox',items_path(user),class: "btn  btn-success  fas fa-toolbox" %>
          <% end %>
        </div>
      </div>
    </div>
 </div>