<h1>釣果編集画面</h1>

<h3>変更前の画像</h3>
<%= attachment_image_tag @fish, :image, :fill, 200, 200, format: "jpeg" %>
<%= form_with model: @fish, url: fish_path(@fish.id), local: true do |f| %>
      <table>
        <tr>
          <th>釣果画像</th>
          <td><%= f.attachment_field :image %></td>
        </tr>
        
        <tr>
          <th>釣れた魚種</th>
          <td><%= f.text_field :fish_name %></td>
        </tr>
         <th>ルアー名</th>
        <td><%= f.text_field :lure %></td>
        <tr>
          <th>商品説明</th>
          <td><%= f.text_area :body %></td>
        </tr>
       
      </table>
      <br>
      <%= f.submit "編集する", class: 'btn btn-primary' %>
    <% end %>