<h1>Fishes#new</h1>
 <%= form_with model: @fish, local:true do |f| %>
 </div>
   <table class="admin_items">
      <tr>
        <th>釣果画像</th>
        <td><%= f.attachment_field :image %></td>
      </tr>
      <tr>
        <th>魚種</th>
        <td><%= f.text_field :fish_name %></td>
      </tr>
      <tr>
        <th>ルアー名　メーカー</th>
        <td><%= f.text_field :lure %></td>
      </tr>
      <tr>
        <th>住所</th>
        <td><input id="address" type="textbox" value=""></td>
        <td><input type="button" value="検索" onclick="codeAddress()"></td>
        <input type="hidden" name="fish[address]" id="hidden_address">
      </tr>
      <tr>
        <th>本文</th>
        <td><%= f.text_area :body %></td>
      </tr>
   </table>
   <%= f.submit "新規登録" , class: 'btn btn-primary' %>
  <% end %>

<div id='map'></div>
<style>
#map{
  height: 600px;
}
</style>

<script>


  let map
  let geocoder

  function initMap() {
    geocoder = new google.maps.Geocoder()

    map = new google.maps.Map(document.getElementById('map'), {
      center: {
        lat: 35.681,
        lng: 139.767
      },
      zoom: 15
    });
  }
function codeAddress() {
    let inputAddress = document.getElementById('address').value;

    geocoder.geocode({
      'address': inputAddress
    }, function (results, status) {
      if (status == 'OK') {
        map.setCenter(results[0].geometry.location);

      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });


        // 検索値を隠しデータとしてセット
      let hidden_address = document.getElementById('hidden_address');
      console.log(hidden_address)
        hidden_address.setAttribute("value", inputAddress);
      } else {
        alert('Geocode was not successful for the following reason: ' + status);
      }
    });

  }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API'] %>&callback=initMap" async defer></script>
